files:
    "/sbin/api_start" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            # run app
            kill `ps -ef | grep blink-api | awk '{print $2}'`
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=prod -jar /var/app/current/blink-api.jar
    "/sbin/worker_start" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            # run app
            kill `ps -ef | grep blink-worker | awk '{print $2}'`
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=prod -jar /var/app/current/blink-worker.jar