files:
    "/sbin/web_start" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            # run app
            pkill -f blink-api || true
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=prod -Dserver.port=5000 -jar /var/app/current/blink-api.jar
    "/sbin/batch_start" :
       mode: "000755"
       owner: webapp
       group: webapp
       content: |
            # run app
            pkill -f blink-batch || true
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=prod -Dserver.port=5001 -jar /var/app/current/blink-batch.jar
    "/sbin/worker_start" :
        mode: "000755"
        owner: webapp
        group: webapp
        content: |
            # run app
            pkill -f blink-worker || true
            java -Duser.timezone="Asia/Seoul" -Dspring.profiles.active=prod -jar /var/app/current/blink-worker.jar